{% extends 'base.html' %}
{% block content %}
    {% if not list_tasks %}
        <h2>НЕТ ЗАДАЧ</h2>
    {% endif %}
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>Descriptions</th>
            <th>Text for detailed of description</th>
            <th>Delete</th>
        </tr>
        </thead>
        <body>
        {% for task in list_tasks %}
            <tr>
                <td>
                    <a href="{% url "task-view" task.id %}">{{ task.description }}</a>
                </td>

                <td>{{ task.text_for_detailed }}</td>

                <td>
                    <a href="{%  url 'delete-task' task.id %}">Delete</a>
                </td>
            </tr>
        {% endfor %}

        </body>
    </table>

    <button style = "text-decoration-line:none;" type="button" class="btn btn-outline-dark"> <a href="{% url 'task-add' %}">Create new task </a></button>

{% endblock content %}