<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ task.id }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<div class="card" style="width: 18rem;">
  <div class="card-header">
      Задача {{ task.id }}
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{ task.description }}</li>
    <li class="list-group-item">{{ task.status }}</li>
    <li class="list-group-item">{{ task.pub_date }}</li>
  </ul>
</div>
<button style = "text-decoration-line:none;" type="button" class="btn btn-outline-info"><a href="/">Go to home page </a></button>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>
